#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 50em;
    margin-bottom: 2em;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.button {
    background-color: #1a1a1a;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 0.5em;
    border: 0.1em solid #444;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.25s;
}
.button:hover {
    border-color: #646cff;
}
.button:focus {
    outline: 4px auto -webkit-focus-ring-color;
}

.scene-card {
    margin-top: 0vh;
    margin-bottom: auto;
    width: 80%;
    min-width: 80vh;
    padding: 2em;
    border-radius: 2em;
    background-color: #333;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.scene-card.visible {
    opacity: 1;
}

.scene-card-timestamp {
    font-weight: bold;
    text-align: right;
}

.scene-card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.scene-card-environment,
.scene-card-contents {
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
}

.scene-card-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 30%;
}

.scene-card-weather,
.scene-card-summary {
    padding: 10px;
}

.scene-card-vehicle,
.scene-card-person {
    padding: 10px;
    max-width: 30em;
}
